body{
    background-color:white;
    background-color:rgb(53, 119, 119);
 
    background-image: url("./Assets/inspiration-geometry.png");
    background-attachment: fixed;
    
 }
 header{
     text-align: center;
     width:100%;
     background-image: url("./Assets/inspiration-geometry.png");
     box-shadow: 0px 1px 4px darkslategray; 
     background-color:rgb(53, 119, 119);
     position:sticky;
     top: 0px;
     z-index:2;
 }
 h2{
     margin:0px;
     padding:10px 0px;
     color:rgb(211, 221, 221);
 }
 .add-new-task{
     border-bottom:1px solid darkslategray;
     width:100%;
     padding:10px;
     padding-left:15px;
     background-color:rgb(237, 239, 241) ;
 }
 .new-task{
     width: 80%;
     margin:auto;
     margin-top:25px;
     display:flex;
     flex-wrap: wrap;
     box-shadow:1px 1px 3px lightgray;
     /* box-shadow: 2px 2px 3px orangered ;
     box-shadow: 2px 2px 3px orangered ; */
     border-radius: 3px 3px 2px 2px;
     background-color:whitesmoke;
 }
 .form{
     padding:15px;
 }
 .form-group {
    margin:10px 0px;
 }
 .button{
     justify-content: space-around;
 }
 #task-list{
     width:80%;
     margin:40px auto;
 }
 
 input[type="checkbox"]:hover{
     cursor: pointer;
 }
 
 input[type="checkbox"]{
    transform: scale(1.6);
 
    /* z-index: 3;
      */
 }
 
 /* span{
     display: inline-block;
 } */
 .flexbox{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
 }
 
 .col{
     padding:0px;
 }
 .task-info{
     /* z-index: 2; */
     padding-bottom: 30px;
     background-color: rgb(213, 231, 231);
     box-shadow: 0px 2px darkgrey;
     border-radius:2px;
 }
 .task-info:active{
     transform: translate(0.5px,2px);
 }
 .card-body{
     padding:0px;
 }
 .task-notes{
     padding:0;
 
 }
 .hide{
     display: none;
 }
 .fa{
     display: block;
     position:absolute;
     top:13px;
     right:15px;
     width:40px;
     height: 30px;
     z-index: 1;
     font-size: 23px;
     background-color: transparent;
     cursor: pointer;
 
 
 }
 
 .editButton:active{
 transform: translate(1px,2px);
 }
 .task{
     margin-top: 25px;
 }
 
 .editModal{
     background-color:rgb(53, 119, 119);
     background-image: url("./Assets/inspiration-geometry.png");
     width:100%;
     height:100%;
     position: fixed;
     z-index:10;
     top:0px;
     left:0px;
 }
 .center{
     text-align: center;
 }
 .task-sort{
     position: sticky;
     top:60px;
     margin-top:25px;
     z-index: 3;
 }
 .list-heading > .badge{
     background-color: #CEE0E0;
     padding:10px;
     border: 1px solid #357777;
     font-family: inherit;
 }
 .list-heading{
     text-align: center;
     margin-top:30px;
 }
 .badge.badge-info {
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 16px;
    border-right: 3px solid #357777;
    font-size: 14px;
    font-weight: 450;

}

@media screen and (Max-width: 480px) {
    .task-sort{
        top:99px;
    }
  }